@import "tailwindcss";
@import url('https://rsms.me/inter/inter.css');

@theme {
  --font-inter: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  background-color: #111;
  color: #eee;
  font-family: var(--font-inter);
}

a {
  cursor: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
